

/*----------------------- General Styles -----------------------*/

:root{
    --hue-1: 257;
    --hue-2: 47;
    --bg-color: hsl(var(--hue-1), 100%, 97%);
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
    --main-color-2: hsl(var(--hue-2), 100%, 61%);
    --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
    --bg-color-1: hsl(var(--hue-1), 100%, 97%);
    --bg-color-2: #fff;
    --bg-color-3: hsl(var(--hue-1), 100%, 98%);
    --bg-color-transparent: rgba(255, 255, 255, 0.9);
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 17%, 63%);
    --section-padding: 7rem;
}


/*----------------------- General Styles -----------------------*/

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

::selection{
    background-color: transparent;
    color: rgb(61, 61, 61);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/*----------------------- Reusable css code -----------------------*/

.heading{
    text-align: center;
    color: var(--heading-color);
    font-weight: bold;
    line-height: 1.3;
}

.text{
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
}

/*----------------------- Button css code -----------------------*/

.btn2{
    color: rgba(6, 6, 6, 0.288);
    font-size: .85rem;
    text-transform: capitalize;
    transition: 0.5s;

}

.btn2:hover{
    color: rgba(3, 0, 56, 0.685);
}

.section{
    position: relative;
    padding: var(--section-padding) 0;
}

/*----------------------- Showcase Area Styling -----------------------*/

.showcase-area{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
}

.showcase-area .container{
    height: calc(100vh - 120px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .sub-heading{
    margin-bottom: 0.4rem;   
}

.showcase-area .heading{
    font-size: 3.5rem;
}

.showcase-area .text{
    margin: 0.8rem 0;
}

/*----------------------- About Section Styling -----------------------*/

.about{
    background-color: #fff;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

.btn1{
    width: 350px;
    margin: 6px 6px 6px 6px;;
    display: inline-block;
    padding: .9rem 1.75rem;
    border-radius: 17px;
    background-color: rgb(102, 79, 255);
    color: #fff;
    font-size: 1rem;
    letter-spacing: .4px;
    text-transform: capitalize;
    transition: 0.5s;
}

.btn1:hover{
    background-color: rgb(133, 109, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 1px 10px 0.1px rgba(0, 0, 0, 0.5);
}

.about .text{
    margin: 3rem 0 4rem;
}

.full { 
    background: url(https://raw.githubusercontent.com/DasunThathsara/Portfolio/646b3976dd8621a9229665d3d7e2138f32a09940/images/2.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.topic {
    padding: 20px;
    text-align: center;
    color: var(--heading-color);
    font-weight: bold;
    line-height: 1.3;
  }
  
  @media screen and (min-width: 601px) {
    div.topic {
      font-size: 100px;
    }
  }
  
  @media screen and (max-width: 600px) {
    div.topic {
      font-size: 70px;
    }
  }